.mty-admin{
	.mty-admin-top{
		widows: 96%;
		margin: 10px 2%;
		text-align: left;
		label{
			font-size: 16px;
			line-height: 34px;
			margin-right: 50px;
		}
	}
	.ivu-collapse{
		widows: 96%;
		margin: 10px 2%;
		.ivu-collapse-item{
			.ivu-collapse-header{
				padding-left: 50px;
				text-align: left;
				font-size: 16px;
				.ivu-btn,.ivu-btn-ghost{
					position: absolute;
					top: 5px;
					right: 5%;
				}
			}
			.ivu-collapse-content{
				.ivu-collapse-content-box{
					.mty-admin-content{
						.mty-admin-content-i{
							width: 100px;
							margin: 0 10px;
							float: left;
							img{
								width: 100px;
								height: 100px;
							}
						}
						.clear{
							clear: both;
						}
					}
				}
			}
		}
	}
}
.ivu-modal-wrap{
	.ivu-modal{
		.ivu-modal-content{
			.ivu-modal-body{
				.modal-mty-add{
					.modal-mty-add-i{
						display: flex;
						.ivu-btn,.ivu-btn-info{
							padding: 0;
							height: 32px;
							width: 60px;
							margin-top: 35px;
							margin-left: 10px;
						}
					}
					.modal-mty-add-s{
						.modal-mty-add-s-i{
							display: flex;
							margin-left: 160px;
							margin-top: 10px;
							p{
								line-height: 100px;
								font-size: 16px;
								margin-left: 30px;
							}
						}
					}
					.modal-mty-add-i,.modal-mty-add-s{
						margin-top: 15px;
						label{
							width: 80px;
							margin-left: 80px;
							line-height: 34px;
						}
						img{
							width: 100px;
							height: 100px;
						}
					}
				}
			}
		}
	}
}
